<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if "userID" in session %}
        <p>You're logged in with ID: {{ session["userID"] }}</p>
        <a href="/logout">Log out :(</a>
    {% else %}
        <a href="/register">Register :))</a>
        <a href="/login">Login yippie :3</a>
    {% endif %}

    <form action="/search" method="POST">
        <input placeholder="Search Movies.." type="search" name="searchQuery" id="searchQuery">
    </form>
</body>
</html>