<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Log in</h1>
    <form action="/login" method="POST" id="loginForm">
        <input placeholder="E-mail" type="text" name="email" id="email" required><br>
        <input placeholder="Password" type="password" name="passwd" id="passwd" required><br>

        <input id="confirmLogin" type="submit" value="login">
    </form>
    <br><br><br>

    <a href="/register">Register :))</a>
</body>
</html>