<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST" id="registerForm">
        <input placeholder="E-mail" type="text" name="email" id="email" required><br>
        <input placeholder="Password" type="password" name="passwd" id="passwd" required><br>
        
        <select name="country" id="country">
            <option selected hidden disabled>--Country--</option>
            <option value="NO">Norway</option>
            <option value="US">USA</option>
            <option value="UK">United Kingdom</option>
            <option value="NA">Anything else</option>
        </select><br>

        <input id="confirmReg" type="submit" value="register">
    </form>
</body>
</html>