<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Results for {{ searched }}:</h1>
    {% for movies, IDs in titles|zip(movieID) %}
        <a href="/title/{{ IDs }}">{{ movies }}</a><br>
    {% else %}
        <p>No movies found</p>
    {% endfor %}

    <br><br><br>
    <a href="/submit_movie">Want to add another movie?</a>
    <br><br><br>
</body>
</html>